.btn {
    background-color: green;
    color: white;
    font-weight: bold;
    border-radius: 0 0.25em 0.25em 0;
    border: none;
    font-size: 0.875em;
    padding: 0.85em;
    border: 1px solid green;
}